/*Color variables*/
/*Font size variables*/
/*Font assign*/
@font-face {
  font-family: Yekan;
  src: url(../font/Yekan.woff);
}
/*Whole page*/
* {
  font-family: Yekan;
  font-style: normal;
  font-weight: normal;
  box-sizing: border-box;
}

/*Body of the page*/
body {
  background-color: #f8f9fd;
}

/*All links*/
a {
  color: black;
}

a:hover {
  color: #1894FF;
}

a, a:hover {
  text-decoration: none;
}

/*All headings*/
h1, h2, h3, h4, h5 {
  font-weight: bold;
}

/*CSS default values to ovverride bootstrap*/
p, h1, h2, h3, h4, h5, a {
  text-align: right;
  line-height: initial;
  margin: initial;
  padding: initial;
}

/*Color variables*/
/*Font size variables*/
/*Flex mixin*/
/*Navigation bar*/
.main-nav {
  grid-column: 1/span 1;
  grid-row: 1/span 1;
  display: flex;
  flex-direction: row;
  align-items: initial;
  justify-content: center;
  margin-right: 100px;
}

/*Darmanito logo*/
.main-nav_logo {
  display: flex;
  flex-direction: row;
  align-items: initial;
  justify-content: initial;
  padding-left: 80px;
}
.main-nav_logo a {
  display: flex;
  flex-direction: initial;
  align-items: center;
  justify-content: initial;
  margin-left: 10px;
}
.main-nav_logo div {
  display: flex;
  flex-direction: column;
  align-items: initial;
  justify-content: center;
}
.main-nav_logo h3 {
  font-size: 18px;
}
.main-nav_logo p {
  font-size: 12px;
  /*margin-top: -20px;*/
}

/*Navigation bar links*/
.main-nav_menu {
  display: flex;
  flex-direction: initial;
  align-items: center;
  justify-content: initial;
  width: 50%;
}
.main-nav_menu a {
  margin: 40px;
}
.main-nav_menu a:first-child {
  margin-right: 0;
}
.main-nav_menu a:last-child {
  margin-left: 0;
}

/*Button in the left side of the navigation bar*/
.main-nav_btn {
  display: flex;
  flex-direction: initial;
  align-items: center;
  justify-content: center;
  width: 30%;
}
.main-nav_btn button {
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
  color: #1894FF;
  background-color: #E6F3FF;
  width: 170px;
  height: 50px;
  outline: none;
  border: none;
}
.main-nav_btn button:hover {
  background-color: #C3E1FE;
  transition-duration: 0.5s;
}

/*Color variables*/
/*Font size variables*/
/*Flex mixin*/
/*Support info*/
.support {
  grid-column: 1/span 1;
  grid-row: 4/span 1;
  background-color: #1894FF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.support > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: initial;
  margin: 0 110px;
}
.support h2, .support p, .support span {
  color: white;
}
.support h2 {
  font-size: 20px;
  margin: initial;
  /*Override bootstrap*/
}
.support p {
  font-size: 14px;
  padding-right: 50px;
  margin: initial;
  /*Override bootstrap*/
}
.support img {
  position: absolute;
  left: 10%;
}
.support span {
  position: absolute;
  font-size: 16px;
  font-weight: bold;
  left: 13%;
}

/*Color variables*/
/*Font size variables*/
/*Flex mixin*/
/*Footer of the page*/
.footer {
  grid-column: 1/span 1;
  grid-row: 5/span 1;
  display: flex;
  flex-direction: row;
  align-items: initial;
  justify-content: initial;
  padding: 80px 100px 0 100px;
}

/*Right side*/
.footer_info {
  display: flex;
  flex-direction: column;
  align-items: initial;
  justify-content: initial;
  width: 35%;
}
.footer_info > h3 {
  font-size: 14px;
  padding-top: 20px;
}
.footer_info > p {
  font-size: 14px;
  /*margin-top: -10px;*/
}

.footer_icons {
  display: flex;
  flex-direction: row;
  align-items: initial;
  justify-content: initial;
  padding-top: 20px;
  /*Their real color codes*/
}
.footer_icons a {
  padding-left: 25px;
}
.footer_icons a:last-child {
  padding-left: 0;
}
.footer_icons i {
  font-size: 25px;
  color: #b9b9b9;
}
.footer_icons .fa-linkedin-in:hover {
  color: #0072b1;
}
.footer_icons .fa-twitter:hover {
  color: #00acee;
}
.footer_icons .fa-instagram:hover {
  color: #C13584;
}

/*Middle column*/
.footer_links {
  display: flex;
  flex-direction: column;
  align-items: initial;
  justify-content: initial;
  width: 15%;
}
.footer_links p {
  color: #141414;
  font-weight: bold;
  font-size: 16px;
}
.footer_links a {
  padding-left: 40px;
  padding-top: 10px;
}

/*Left side*/
.footer_badges {
  display: flex;
  flex-direction: column;
  align-items: initial;
  justify-content: initial;
  width: 35%;
}
.footer_badges > p {
  font-size: 16px;
  font-weight: bold;
  color: #141414;
}
.footer_badges > div {
  display: flex;
  flex-direction: row;
  align-items: initial;
  justify-content: initial;
}
.footer_badges a {
  padding: 10px 0 0 10px;
}
.footer_badges a:hover {
  opacity: 0.7;
}

/*Color variables*/
/*Font size variables*/
/*Flex mixin*/
/*Color variables*/
/*Font size variables*/
.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px 120px 900px 130px 350px;
}

/*Header of the page*/
.faq-header {
  grid-column: 1/span 1;
  grid-row: 2/span 1;
  background-color: #0089FF;
  color: white;
}
.faq-header h1 {
  font-size: 30px;
}

.faq-body {
  grid-column: 1/span 1;
  grid-row: 3/span 1;
}
.faq-body > h4 {
  font-size: 20px;
  color: #2361B5;
}

.faq-items > div {
  position: relative;
  opacity: 0.3;
  cursor: pointer;
}
.faq-items img {
  border-radius: 25px;
  box-shadow: 0 10px 20px 10px rgba(114, 190, 255, 0.1);
}
.faq-items .item-title {
  position: absolute;
  cursor: pointer;
  color: #2361B5;
  bottom: 25%;
  right: 38%;
}
.faq-items #alignment_exception1 {
  right: 35%;
}
.faq-items #alignment_exception2 {
  right: 30%;
}
.faq-items .badge-secondary {
  font-size: 12px;
  background-color: #FADB14;
  color: black;
  position: absolute;
  top: 15%;
  right: 37%;
  width: 65px;
  height: 25px;
}

.faq-questions h5 {
  font-size: 16px;
  color: #2361B5;
}
.faq-questions img {
  cursor: pointer;
}
.faq-questions p {
  font-size: 14px;
}

/*Classes and ids for dom manipulation*/
#pharmacyItem {
  opacity: 1;
}

#shop {
  display: none;
}

#pharmacyA1, #pharmacyA2, #pharmacyA3, #pharmacyA4 {
  display: none;
}

#shopA1, #shopA2, #shopA3, #shopA4 {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
