@import "../lib/var";
@import "../lib/mixins";

/*Footer of the page*/
.footer{
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
    @include flex(row, initial, initial);
    padding: 80px 100px 0 100px;
}



/*Right side*/
.footer_info{
    @include flex(column, initial, initial);
    width: 35%;
    > h3{
        font-size: $text2;
        padding-top: 20px;
    }
    > p{
        font-size: $text2;
        /*margin-top: -10px;*/
    }
    
}
.footer_icons{
    @include flex(row, initial, initial);
    padding-top: 20px;
    a{
        padding-left: 25px;
        &:last-child{padding-left: 0;}
    }
    i{
    font-size: 25px;
    color: #b9b9b9;
    }
    /*Their real color codes*/
    .fa-linkedin-in:hover{color: #0072b1;}
    .fa-twitter:hover{color: #00acee;}
    .fa-instagram:hover{color: #C13584;}
}



/*Middle column*/
.footer_links{
    @include flex(column, initial, initial);
    width: 15%;
    p{
        color: $black;
        font-weight: bold;
        font-size: $text1;
    }
    a{
        padding-left: 40px;
        padding-top: 10px;
    }
}



/*Left side*/
.footer_badges{
    @include flex(column, initial, initial);
    width: 35%;
    > p{
        font-size: $text1;
        font-weight: bold;
        color: $black;
    }
    > div{@include flex(row, initial, initial);}
    a{
        padding: 10px 0 0 10px;
        &:hover{opacity: 0.7;}
    }
}