@import "../lib/var";
@import "../lib/mixins";



/*Navigation bar*/
.main-nav{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    @include flex(row, initial, center);
    margin-right: 100px;
}



/*Darmanito logo*/
.main-nav_logo{
    @include flex(row, initial, initial);
    padding-left: 80px;
    a{
        @include flex(initial, center, initial);
        margin-left: 10px;
    }
    div{
        @include flex(column, initial, center);
    }
    h3{
        font-size: 18px;
    }
    p{
        font-size: $text3;
        /*margin-top: -20px;*/
    }
}



/*Navigation bar links*/
.main-nav_menu{
    @include flex(initial, center, initial);
    width: 50%;
    a{
        margin: 40px;
        &:first-child{margin-right: 0;}
        &:last-child{margin-left: 0;}
    }
    }



/*Button in the left side of the navigation bar*/
.main-nav_btn{
    @include flex(initial, center,center);
    width: 30%;
    button{
        font-weight: bold;
        font-size: $text1;
        border-radius: 10px;
        color: $secondary-color;
        background-color: #E6F3FF;
        width: 170px;
        height: 50px;
        outline: none;
        border: none;
        &:hover{
            background-color: $btn-hover;
            transition-duration: 0.5s;
        }
    }
}