@import "../lib/var";
@import "../lib/mixins";

/*Support info*/
.support{
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
    background-color: $secondary-color;
    @include flex(row, center, space-between);
}
.support > div{
    @include flex(row, center, initial);
    margin: 0 110px;
}
.support h2, .support p, .support span{
    color: white;
}
.support h2{
    font-weight: bold;
    font-size: $header3;
}
.support p{
    font-size: $text2;
    padding-right: 50px;
}
.support img{
    position: absolute;
    left: 10%;
}
.support span{
    position: absolute;
    font-size: $text1;
    font-weight: bold;
    left:13%;
}