@import "../lib/var";

.grid-membership{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 650px 150px 850px 130px 350px;
}



/*Information about membership*/
.membership-info{
    h1{
        color: $secondary-color;
        font-size: $header2;
    }
    p{font-size: $text1;}
    input{
        font-size: $text1;
        background-color: $input-color;
        border-radius: 10px;
        width: 500px;
        height: 65px;
        padding: 20px;
        outline: none;
        border: none;
    }
    .btn{
        font-size: $text1;
        background-color: $secondary-color;
        border-radius: 10px;
        color: white;
        width: 130px;
        height: 45px;
        margin-right: -145px;
        &:hover{opacity: 0.8;}
    }
}
/*Left side of the element*/
.membership-sample{
    > div{
        border-radius: 20px;
        box-shadow: 0 10px 20px 10px rgb(114, 190, 255, 0.1);
        &:last-child{
            opacity: 0.7;
            margin-right: 200px;
        }
    }
    .sample-big{
        width: 438px;
        height: 125px;
        h4{font-size: $header3;}
        p{font-size: $text3;}
        > img{
            width: 75px;
            height: 75px;
        }
        > span{
            font-size: $text3;
            background-color: $secondary-color;
            width: 80px;
            height: 30px;
            border-radius: 10px;
            margin-top: -70px;
        }
    }
    .sample-small{
        width: 305px;
        height: 85px;
        h4{font-size: $medium;}
        p{font-size: $small;}
        > img{
            width: 50px;
            height: 50px;
        }
        > span{
            font-size: $small;
            background-color: $secondary-color;
            width: 55px;
            height: 20px;
            border-radius: 10px;
            margin-top: -10px;
        }
    }
}



/*Membership statistics - Blue part*/
.membership-stat{
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    background-color: $primary-color;
    color: white;
    p{font-size: $text1;}
    h1{font-size: $header1;}
}



/*Membership services*/
.membership-service{
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
    h4{
        color: $title-color;
        font-size: $header3;
    }
    p{
        font-size: $text1;
    }
    .btn{
        border-radius: 10px;
        color: white;
        background-color: $secondary-color;
        font-size: $text1;
        width: 170px;
        height: 50px;
        &:hover{opacity: 0.8;}
    }
    img{
        width: 140px;
        height: 160px;
    }
    .membership-cards{
        >div{
            border: none;
            border-radius: 40px;
            box-shadow: 0 10px 20px 10px rgb(114, 190, 255, 0.1);
            width: 450px;
            height: 500px;
        }
    }
}



/*Different support and footer section*/
.support-exception{grid-row: 5 / span 1;}
.footer-exception{grid-row: 6 / span 1;}